*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'hans_kendrick_3regular', sans-serif;
    font-size: 14px;
    background-color: #e2e7ec;
}

.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /*раздер элемента*/
    width: 1120px;
    margin: 0 auto;
    padding: 90px 0;
}

.blog-item{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 20px;
    /*min-height: 540px;*/
}

.blog__item--large{
    width: 740px;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
}

.blog-item__content{
    background-color: white;
    padding: 30px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

}

.blog-item__img{
    font-size: 0;
}

.blog-item__date{
    min-height: 18px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #818181;
    margin-bottom: 20px;
}

.blog-item__title{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    word-break: break-all;
    /*white-space: nowrap; !*... v stroke uslobie block eleements i razmeer bloka*!*/
}

.blog-item__title:not(:last-child){
    margin-bottom: 20px;
}

.blog-item__date--white{
    color: white;
    opacity: .5;
}

.blog-item__title--white{
    color: white !important;
    /*opacity: .5;*/
}

.blog-item__content--large{
    background-color: transparent;
    flex-grow: 0;
    padding: 40px;
}

.blog-item__title a{
    text-decoration: none;
    color: #1d1d1d;
}

.blog-item__title a:hover{
    text-decoration: underline;
}

.blog-item__author{
    margin-top: auto;
}