*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'hans_kendrick_3regular', sans-serif;
    font-size: 14px;
    background-color: #e2e7ec;
}

.blog{
    width: 1120px;
    margin: 0 auto;
    padding: 90px 0;
}

.blog-item{
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 540px;
}

.blog__item--large{
    width: 740px;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
}


/*.grid{*/
    /*width: 1170px;*/
    /*margin: 0 auto;*/
/*}*/

/*.clearfix:after{*/
    /*content: '';*/
    /*display: block;*/
    /*clear: both;*/
/*}*/